.loan,
.pending,
.completed{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    ;
    background: rgb(236, 221, 193);
    padding:  1rem;
    border-radius: 0.5rem;
    margin-top: 0.5rem;
    
}
.loan{
    background: rgb(142, 170, 223);
    
}
.pending{
    background: rgb(233, 183, 160);
    
}
.completed{
    background: rgb(160, 233, 184);
    display: none;
    
}
.ModalClose{
    display: flex;  
    gap:1rem;
}
button{
    cursor: pointer;
}